<div *ngIf="loading">Carregant pacients...</div>

<div *ngIf="!loading" class="container">
    <div class="table-container">
        <table border="1">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nom</th>
                    <th>Cognoms</th>
                    <th>Data Naixement</th>
                    <th>Població</th>
                    <th>CIP</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pacient of pacients()" [routerLink]="['/pacients', pacient.dni]" style="cursor: pointer;">
                    <td>{{ pacient.dni }}</td>
                    <td>{{ pacient.nom }}</td>
                    <td>{{ pacient.cognoms }}</td>
                    <td>{{ pacient.dataNaixement }}</td>
                    <td>{{ pacient.poblacio }}</td>
                    <td>{{ pacient.cip }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-container">
        <app-pacient-form
        (pacientCreated)="onPacientCreated($event)"
        (pacientCreateError)="onPacientCreateError($event)"
        ></app-pacient-form>
    </div>
</div>
    
<ion-toast
        [isOpen]="isToastOpen"
        [message]="toastMessage()"
        [duration]="5000"
        (ionToastDidDismiss)="setOpen(false)"
/>
